@import "tailwindcss";

/* 让播放器占满父容器，可按需调 */
.video-js {
    aspect-ratio: 16 / 9;
}


/* 2. 把默认皮肤里藏起来的按钮放出来 */
/* .video-js .vjs-control-bar .vjs-volume-panel,
.video-js .vjs-control-bar .vjs-playback-rate,
.video-js .vjs-control-bar .vjs-picture-in-picture-control {
  display: flex !important;
  visibility: visible;
  width: auto;
  flex-wrap: nowrap;
} */
.video-js .vjs-progress-control {
  flex: auto !important;
  min-width: 100px!important; /* 防止过窄 */
}
