<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <script>
      var _hmt = _hmt || [];
      (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?1227e32fcb98518bfa1f72898686c70d";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>搜索结果</title>
    <meta name="keywords" content="搜索结果" />
    <meta name="description" content="搜索结果" />
    <meta name="apple-mobile-web-app-title" content="韩剧TV网" />
    <meta name="application-name" content="韩剧TV网" />
    <meta
      name="msapplication-TileImage"
      content="https://img.m3u8.icu/upload/mzadycms/20250824-1/3a280aabc9869b8b2d815fe459572746.webp"
    />
    <link
      rel="apple-touch-icon"
      href="https://img.m3u8.icu/upload/mzadycms/20250824-1/3a280aabc9869b8b2d815fe459572746.webp"
    />
    <link
      rel="icon"
      href="https://img.m3u8.icu/upload/mzadycms/20250824-1/3a280aabc9869b8b2d815fe459572746.webp"
    />
    <link
      rel="shortcut icon"
      href="https://img.m3u8.icu/upload/mzadycms/20250824-1/3a280aabc9869b8b2d815fe459572746.webp"
      type="image/x-icon"
    />
    <script
      type="text/javascript"
      src="/template/mizhiady/statics/js/pace.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://at.alicdn.com/t/c/font_4875167_vubajhqgoj.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/template/mizhiady/statics/css/mizhiady-font.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/template/mizhiady/statics/css/mizhiady-site.css"
      type="text/css"
    />
    <script
      type="text/javascript"
      src="/template/mizhiady/statics/js/jquery.min.js?v=3.3.1"
    ></script>
    <script
      type="text/javascript"
      src="/template/mizhiady/statics/js/layer/layer.js?v3.1.1"
    ></script>
    <script
      type="text/javascript"
      src="/template/mizhiady/statics/js/mizhiady-plugins.js"
    ></script>
    <script
      type="text/javascript"
      src="/template/mizhiady/statics/js/mizhiady.js"
    ></script>
    <script
      type="text/javascript"
      src="/template/mizhiady/statics/js/mizhiady-script.js"
    ></script>
    <script
      type="text/javascript"
      src="/template/mizhiady/statics/js/mizhiady-core.js"
    ></script>
    <script src="/static/js/home.js"></script>
    <script>
      (function () {
        try {
          var d = document.documentElement;
          var n = "data-theme";
          var s = "setAttribute";
          var e = localStorage.getItem("theme");
          if ("system" === e || (!e && false)) {
            var t = "(prefers-color-scheme: dark)";
            var m = window.matchMedia(t);
            if (m.media !== t || m.matches) {
              d.style.colorScheme = "dark";
              d[s](n, "dark");
            } else {
              d.style.colorScheme = "light";
              d[s](n, "light");
            }
          } else if (e) {
            d[s](n, e || "");
          } else {
            d[s](n, "light");
          }
          if (e === "light" || e === "dark" || !e) {
            d.style.colorScheme = e || "light";
          }
        } catch (e) {}
      })();
    </script>
    <script>
      var maccms = {
        path: "",
        mid: "1",
        url: "hanju6.com",
        wapurl: "hanju6.com",
        mob_status: "0",
        tpl: "/template/mizhiady/",
      };
    </script>
    <style type="text/css">
      :root {
        --theme-color: #e50916;
        --theme-high: 133%;
        --theme-highwide: 56%;
        --theme-radius: 6px;
        --bg-light: url();
        --bg-dark: url();
        --userbg-light: url();
        --userbg-dark: url();
        --gonggao_speed: 10;
      }

      .layui-layer-rim {
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        border: 0;
        border-radius: 16px;
      }

      .layui-layer-content::-webkit-scrollbar {
        display: none;
      }

      .layui-layer-content {
        border-radius: 16px;
      }

      .layui-layer-setwin .layui-layer-close2 {
        right: -8px;
        top: -8px;
      }

      .layui-layer {
        background: var(--basic-bg);
      }

      .layui-layer-content {
        color: var(--font-color);
      }
    </style>
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker
            .register("/template/mizhiady/statics/app/service-worker.js")
            .then((registration) => {
              console.log("Service Worker registered:", registration);
            })
            .catch((error) => {
              console.log("Service Worker registration failed:", error);
            });
        });
      }
    </script>
    <script>
      var mzadySwiperConfig = {
        slidspeed: 1000,
        slidedelay: 5000,
      };
    </script>
  </head>
  <body>
    <main class="show search">
      <div class="container">
        <div class="row">
          <div class="vod-list-box">
            <div class="search-head">
              <span>与“</span>
              <span style="color: rgb(217, 40, 40)"></span>
              <span>
                ”相关的影片 共<span class="hl-total"></span>
                个
              </span>
            </div>
            <div class="show-vod-list" style="border: none">
              <div class="movie-ul">
                <div class="myui-vodbox-content">
                  <a href="/nf-detail/17583.html">
                    <div class="content-card">
                      <div class="card-img">
                        <div class="myui-vodlist__thumb cover-img">
                          <img
                            src="https://img.tufun.top/poster/680f9a0ef886e82ce4174616/poster.jpg"
                            onerror="this.src='https://img.m3u8.icu/upload/mzadycms/20250824-1/87fac5784de8928e555368f3eba112cf.webp';this.onerror=null"
                            alt="寒蝉鸣泣之时"
                          />
                        </div>
                        <div class="bottom">
                          <div class="info">
                            <div class="hits">
                              <svg
                                fill="none"
                                height="17"
                                viewBox="0 0 16 17"
                                width="16"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M6.34095 1.35864C6.08335 2.15996 5.38195 3.59989 3.47443 5.50957C0.183705 8.80812 -0.252398 14.1219 4.80374 16.7349C5.21885 16.9493 5.56535 16.8172 5.82575 16.5524C6.68676 15.6782 7.06056 14.3956 6.94856 12.7058C6.91706 12.2401 7.13056 12.1189 7.55336 12.4376C8.75247 13.3403 9.53508 14.7312 9.53508 16.2263C9.53508 16.7349 9.74438 17.0038 10.2323 16.9119C13.4565 16.3039 17.3856 11.8078 13.1513 5.22431C12.8979 4.88935 12.5234 4.88935 12.5297 5.34958C12.5367 5.91466 12.4702 6.47837 12.3309 7.02711C12.235 7.40837 11.8661 7.40292 11.7793 7.02711C11.2515 4.74025 9.78428 2.79652 7.37696 1.19252C6.72736 0.760205 6.49146 0.892964 6.34095 1.35932V1.35864Z"
                                  fill="white"
                                  fill-opacity="0.6"
                                ></path>
                              </svg>
                              6
                            </div>
                            <div class="score">8.0</div>
                          </div>
                        </div>
                        <div class="tag-box">
                          <div class="tag text-overflow">动画</div>
                        </div>
                        <div class="hover-mask"></div>
                        <div class="vod-detail video-info">
                          <div class="info-title-box">
                            <div class="title">寒蝉鸣泣之时</div>
                            <div class="score">8.0</div>
                          </div>
                          <div class="info-time">更新时间：07月05日</div>
                          <div class="info-roles">
                            主演：保志总一朗,田村由香里,雪野五月,茶风林,中原麻衣,塚田正昭,小林优
                          </div>
                          <div class="info-intro">
                            简介：　　雏见泽是一处坐落在群山环绕之间的僻静村庄，淳朴的民风使得这个古老的村庄一直以来都保留着祖先时代的祭祀习俗，称为绵流。昭和58年的一个夏天，这个村庄迎来了一个新的居民：少年前原圭一（保志总一朗配音）。新的环境让圭一有些不太能适应，但在结识了温柔的龙宫礼奈（中原麻衣配音），活泼的园崎魅音（雪野五月配音），外表孱弱却内心坚强的北条沙都子（金井美香配音）和古手梨花（田村由里香配音）后，新的生活很快便如火如荼的展开了。<br />随着时间的推移，一年一度的绵流祭奠即将开始，然而在此热闹之际，圭一却听闻了一些雏见泽不为人知的过去，以及历年来绵流祭奠所带来的，一人失踪一人死亡的被称为“神隐”的恐怖事件。这些传闻是虚是实？过往单纯快乐的生活是真是假？作为一名“外来者”，前原圭一出人意料的逐渐接近了某个重大事件的真相。
                          </div>
                          <div class="info-bottom">
                            <div class="hits">
                              <svg
                                fill="none"
                                height="17"
                                viewBox="0 0 16 17"
                                width="16"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M6.34095 1.35864C6.08335 2.15996 5.38195 3.59989 3.47443 5.50957C0.183705 8.80812 -0.252398 14.1219 4.80374 16.7349C5.21885 16.9493 5.56535 16.8172 5.82575 16.5524C6.68676 15.6782 7.06056 14.3956 6.94856 12.7058C6.91706 12.2401 7.13056 12.1189 7.55336 12.4376C8.75247 13.3403 9.53508 14.7312 9.53508 16.2263C9.53508 16.7349 9.74438 17.0038 10.2323 16.9119C13.4565 16.3039 17.3856 11.8078 13.1513 5.22431C12.8979 4.88935 12.5234 4.88935 12.5297 5.34958C12.5367 5.91466 12.4702 6.47837 12.3309 7.02711C12.235 7.40837 11.8661 7.40292 11.7793 7.02711C11.2515 4.74025 9.78428 2.79652 7.37696 1.19252C6.72736 0.760205 6.49146 0.892964 6.34095 1.35932V1.35864Z"
                                  fill="white"
                                  fill-opacity="0.6"
                                ></path>
                              </svg>
                              6
                            </div>
                            <div class="right">2006</div>
                          </div>
                        </div>
                      </div>
                      <div class="card-info">
                        <div>
                          <div class="title">寒蝉鸣泣之时</div>
                        </div>
                        <div class="role">完结</div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
